{{ define "main" }}


<!--{{ with .Params.main }} -->


  <div style="max-width:1000px;">
  
    <h3 class="f3 b lh-title mb2">{{ .heading }}</h3>
    <p>The form below will allow you to make an instant quote for a keg washer.   Select the options you would like for your machine.</p>
    <p>Option 1:  Number of Stations - This is how many kegs can be washed simultaneously.   A double station keg washer will wash kegs twice as fast as a single station washer because all the steps are performed simultaneously.</p> 
    <p>Option 2: Sanitizer Method - This is an important point to decide for your machine.  The most basic form is to have the sanitizer injected into the rinse water with a small peristaltic pump so there is no need for a sanitizer tank and large centrifugal pump.  This form will guarantee that all kegs receive a perfect dose of sanitizer since it is always fresh.  After the sanitizer hits the keg it is dumped down the drain so the one drawback of this method is it uses more sanitizer than the recycling tank form.   The recycling sanitizer tank form will use much less sanitizer than the injecting form but you will need to monitor the concentration throughout the keg washing process.  The options for tanks are currently 15.5 gallon (Sankey keg) and 25 gallon tanks.   A larger tank volume will be slower to dilute the concentration of chemicals in it.</p>
    <p>Option 3: Pressure switch - The pressure switch is used at the final step of the keg washing cycle.  It signals when the CO2 pressure has reached a particular setpoint.  Typically this setpoint is around 12psi.  When no pressure switch is used, the machine will instead pressurize the keg(s) with CO2 for a set amount of time.  Without the switch, the pressure of the keg(s) will not be as accurate.  For example as the CO2 supply gets low there will be less CO2 flow into the kegs and less keg pressure.  Also without a switch there will be no indication to the user when the CO2 becomes low.</p>
    <p>Option 4: Liquid Sensor - The liquid sensor is an infrared sensor that detects when all liquid has been purged from the keg(s).  This allows the machine to run faster.   Instead of waiting for a set amount of time to move to the next step, the sensor will tell the machine to proceed at the earliest moment the step is finished.  Sometimes water/air/CO2 pressure will vary because they are being used somewhere else in the building.  The liquid sensor will compensate for any fluctuations in water/air/CO2 pressure.  </p>  
    <p>Option 5: Control Panel - The control panel houses the electrical components, buttons, and touchscreen for the washer.  It would typically be made of plastic but those who want the most rugged materials should opt for the 100% stainless build.</p>
    <p>Option 6: Heating Element Dry Fire Protection - Many keg washers have simple heating systems.  Like many brew kettles, they can be dry fired if the user forgets to fill the tank with water.  If this is a concern dry fire protection will add an extra liquid sensor to help prevent this from happening.</p>
 <!-- </div> -->
</div>

<!-- Image grid -->
<!-- {{ partial "image-grid" . }} -->
<!-- {{ end }} -->

<center>

<script>
function getPrice(type) {
  var obj = document.getElementById(type);
  var price = obj.options[obj.selectedIndex].getAttribute("data-price");
  if (price == null)
    price = 0;
  return parseInt(price);
}

function updatePrice() {
  document.getElementById("price").innerHTML = "Total: $" +
    (getPrice("station") + getPrice("sani") + getPrice("tank size")+ getPrice("pressure switch") + getPrice("liquid sensor") + getPrice("control panel") + getPrice("dry fire"));
}
</script>

<form action="testemail@gmail.com" method="post" style="font-size:200%; margin: 0; height:100%; overflow: hidden;">
  <fieldset>
    <select name="Stations" id="station" style="font-size:70%;" onChange="updatePrice()">
      <option value="Choose Number of Stations">Choose Number of Stations</option>
      <option value="Single Station" data-price="8000">Single Station</option>
      <option value="Double Station" data-price="10000">Double Station</option>
      <option value="Triple Station" data-price="12000">Triple Station</option>
    </select>
  </fieldset>
<fieldset>
    <select name="Detergent Tank" id="tank size" style="font-size:70%;" onChange="updatePrice()">
      <option value="Choose Detergent Tank Size">Choose Detergent Tank Size</option>
      <option value="dettank15" data-price="0">15 gallon tank (repurposed sanke)</option>
      <option value="dettank25" data-price="300">25 gallon tank</option>
    </select>
  </fieldset>
  <fieldset>
    <select name="Sani" id="sani" style="font-size:70%;" onChange="updatePrice()">
      <option value="Choose Sanitizer Method">Choose Sanitizer Method</option>
      <option value="Injector" data-price="0">Sanitizer Injecting (no tank)</option>
      <option value="tank15" data-price="1400">Sanitizer Recycling - 15 gallon Tank</option>
      <option value="tank25" data-price="2200">Sanitizer Recycling - 25 gallon Tank</option>
    </select>
  </fieldset>
  <fieldset>
    <select name="Pressure Switch" id="pressure switch" style="font-size:70%;" onChange="updatePrice()">
      <option value="No Pressure Switch" data-price="0">No Pressure Switch</option>
      <option value="Pressure Switch" data-price="250">Pressure Switch</option>
    </select>
  </fieldset>
   <fieldset>
    <select name="Liquid Sensor" id="liquid sensor" style="font-size:70%;" onChange="updatePrice()">
      <option value="No Liquid Sensor" data-price="0">No Liquid Sensor</option>
      <option value="Liquid Sensor" data-price="350">Liquid Sensor</option>
    </select>
  </fieldset>
  <fieldset>
    <select name="Control Panel" id="control panel" style="font-size:70%;" onChange="updatePrice()">
      <option value="Plastic Control Panel" data-price="0">Plastic Control Panel</option>
      <option value="Stainless Control Panel" data-price="400">Stainless Control Panel</option>
      </select>
    </fieldset>
  <fieldset>
    <select name="Dry Fire Protection" id="dry fire" style="font-size:70%;" onChange="updatePrice()">
      <option value="No Dry Fire Protection" data-price="0">No Dry Fire Protection</option>
      <option value="Dry Fire Protection" data-price="150">Dry Fire Protection</option>
    </select>
  </fieldset>
  <fieldset>
    <div id="price">Total: $0
    </div>

    </center>
    <!-- Full-width image -->
<!-- <img src="{{ .Params.full_image }}" alt="" class="db w-100">

{{ partial "table" .Params.pricing }} -->

{{ end }}
