{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

<div class="mw7 center ph1 pt4">
  
    {{ range $index, $element := .Params.values }}
    {{ if modBool $index 1 }}
      {{ partial "media-block" $element }}
    {{ else }}
      {{ partial "media-block-reverse" $element }}  
    {{ end }}
  {{ end }}

</div>

{{ end }}





<!-- 
<div class="pv5 pv6-l ph3 bg-center cover" style="background-image: url('/img/triple%20head%20from%20side.jpg')">
  <div class="mw7 center ph3">
    <div class="db mb3">
      <div class="mw7 relative bg-fix-primary mb3">
        <h1 class="f2 f1-l b di lh-title mb3 white mw6 bg-primary">
          Models
        </h1>
      </div>
      <div class="mw7 relative bg-fix-primary">
        
      </div>
    </div>
  </div>
</div>


<div class="mw7 center ph1 pt4">
  
    
    
      <div class="flex-m mhn3-m mb4">

  <div class="ph3-m w-50-m">
    <img src="/img/triple%20head%20washer.jpg" alt="" class="db mb2">
  </div>

  <div class="ph3-m w-50-m">
    <h3 class="f3 b lh-title mb1">Triple Station Washer</h3>
    <p>This customer wanted to wash upwards of 40 kegs per hour.  For this the triple head, with liquid sensor and pressure sensor was recommended.  The customer also wanted to use an external sanitizer tank, you can see there are 2 pumps on this washer but only one 30 gallon detergent tank.
</p>
  </div>

</div>

    
  
    
      <div class="flex-m mhn3-m mb4">

  <div class="ph3-m w-50-m">
    <img src="/img/about%20-%20kyles%20washer.jpg" alt="" class="db mb2">
  </div>

  <div class="ph3-m w-50-m">
    <h3 class="f3 b lh-title mb1">Double Station with recycling sanitizer tank</h3>
    <p>This model was made for a customer who wanted an acid/sani tank in addition to the standard caustic/detergent tank.  The thermometer is the only required sensor for all machines.  In addition, this model features a liquid sensor to move to the next step the moment the kegs are clear.  Level switches are installed in both chemical tanks for dry fire protection and auto filling each tank.   An adjustable pressure switch is used to consistently charge the kegs with CO2.  The tanks on this washer are rectangular with a total volume of 25 gallons.
</p>
  </div>

</div>

    
  
    
      <div class="flex-m mhn3-m mb4">

  <div class="ph3-m w-50-m">
    <img src="/img/single%20head.jpg" alt="" class="db mb2">
  </div>

  <div class="ph3-m w-50-m">
    <h3 class="f3 b lh-title mb1">Single Station with sanitizer injection</h3>
    <p>This model is a very popular style because the sanitizer is not recycled using an extra tank.  Instead it is injected into the rinse water making this model cheaper than the recycling versions.  This gives a more accurate dosage of sanitizer since it is always fresh.
</p>
  </div>

</div>

    
  
    
      <div class="flex-m mhn3-m mb4">

  <div class="ph3-m w-50-m">
    <img src="/img/VQ%20Washer%20Super%20Clean%20Crop.jpg" alt="" class="db mb2">
  </div>

  <div class="ph3-m w-50-m">
    <h3 class="f3 b lh-title mb1">Prototype Keg Washer</h3>
    <p>This is a photo of the prototype keg washer that started Omniwasher Keg Washers.  This is the keg washer used at Vision Quest brewery, over 20,000 kegs have been washed with this model.  We use this washer to test new features.  This washer works as good as the day it was built and is a testament to the smart design and engineering that went into making it.
</p>
  </div>

</div>

    
  

</div>
-->
